{% extends 'base.html' %}
{% block title %}Employee Portal Dashboard{% endblock %}
{% block content %}
<div class="container py-5">
  <h1 class="mb-4">Employee Portal</h1>
  <ul class="list-group list-group-flush mb-4">
    <li class="list-group-item"><a href="{% url 'employee_portal:site_settings' %}">Edit Site Settings</a></li>
    <li class="list-group-item"><a href="{% url 'employee_portal:community_list' %}">Manage Communities</a></li>
    <li class="list-group-item"><a href="{% url 'employee_portal:plan_list' %}">Manage Floor Plans</a></li>
    <li class="list-group-item"><a href="{% url 'employee_portal:home_list' %}">Manage Available Homes</a></li>
    {% if user.is_superuser or user.is_staff %}
      <li class="list-group-item"><a href="{% url 'employee_portal:user_list' %}">Manage Users</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}
